__pycache__/
.cache/
.tox/
.idea/
.env/
.env_satextrato/
.pytest_cache/

/build/
/dist/
/*.egg-info/
/*.eggs/

*.pyc
*.pyo
*.pyd
*.egg
*.sublime-workspace

# extrato.cfg gerado e editável durante as seções de testes
extrato.cfg
